.contacts {
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: flex;
  padding: 26px 0;
  margin: 0 auto;
  order: -1;
}

.contacts__wrapper--catalog {
  background-color: $basic_grey;
}

.contacts__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: $tablet-width) {
  .contacts__wrapper {
    max-width: 768px;
    padding: 60px 70px;
    column-gap: 250px;
  }

  .contacts__text {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    font-size: 16px;
  }

  .contacts__city {
    display: block;
    margin-top: 16px;
  }
}

@media screen and (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    min-width: 565px;
    padding: 60px 78px 60px 80px;
    min-height: 199px;
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
  }
}
