.main-nav {
  position: relative;
  width: auto;
  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: -53px;
  right: 0;
  z-index: 2;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#icon_burger");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../../icons/stack.svg#icon_close");
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.main-nav__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav {
    display: flex;
  }
}

@media screen and (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 33px;
    width: 436px;
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav {
    background-color: #68b738;
  }
}
