.site-list__item {
  min-width: 280px;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    min-width: 320px;
    border-top: 1px solid #e6e6e6;
  }
}

.site-list a {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  @include nav-uppercase (20px, 400, 20px, #000000);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: $tablet-width) {
  .site-list__item {
    min-width: auto;

    &::before {
      display: none;
    }
  }

  .site-list a {
    @include nav-uppercase (18px, 400, 24px, #000000);
    padding: 7px 0;
  }
}

.site-list__item--current {
  position: relative;
}

.site-list__item--current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
  height: 2px;
  background: $basic_green;
}

@media screen and (min-width: $desktop-width) {
  .site-list a {
    @include nav-uppercase (20px, 400, 30px, #ffffff);
  }
}
