.subscribe {
  margin-bottom: 27px;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}

.subscribe__caption {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0 0 32px;
}

.subscribe__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}


.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  padding: 13px;
  box-sizing: border-box;
}

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
}

.button-primary {
  @include button-primary ($secondary-font, #ffffff, #68b738);
}


@media screen and (min-width: $tablet-width) {
  .subscribe__wrapper {
    align-items: center;
  }

  .subscribe__caption {
    font-size: 32px;
    line-height: 32px;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
  }

  .subscribe__form {
    display: flex;
  }

  .subscribe__field {
    height: 56px;
    margin: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .subscribe__caption {
    font-size: 40px;
    line-height: 40px;
  }
}
